.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(251, 222, 238) 15.6%,
    rgb(206, 201, 226) 80.3%
  );
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  font-family: FreeMono, monospace;
}

p {
  font-size: small;
}

.fa-search {
  font-size: 20px;
}

.city {
  margin: 0%;
  margin-top: 60px;
  font-size: 30px;
  font-family: FreeMono, monospace;
}

#currentDate {
  font-size: 15px;
  padding-top: 0px;
  font-family: FreeMono, monospace;
}

#currentTime {
  font-size: 15px;
}

.mb-2 {
  background-color: white;
  color: black;
  border-color: white;
}

.mb-2:hover {
  background-color: #d8cde3;
  border-color: white;
}

.number {
  font-size: 80px;
  margin-bottom: auto;
}

.temp {
  text-align: right;
}

.fa-sun {
  font-size: 30px;
  color: #f4cc5d;
}

.fa-cloud-sun-rain {
  font-size: 30px;
  color: #6088c9;
}

.fa-wind {
  font-size: 30px;
  color: #898989;
}

.col-sm {
  text-align: center;
}
